@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300&family=Roboto:wght@100&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #000000;
    color: white;
    font-family: 'Noto Sans JP', sans-serif;
}

#headiiiing {
  text-align: center;
  margin-top: 50px;
  font-size: 24px;
  color: #fcaf17;
  text-decoration: underline;
  animation: underlineAnim 1s infinite alternate;
}

@keyframes underlineAnim {
  from {
      text-decoration-color: #fcaf17;
      text-underline-offset: 13px;
  }
  to {
      text-decoration-color: white;
      text-underline-offset: 0;
  }
}



#heading-login {
    text-align: center;
    margin-top: 133px;
    text-decoration: underline;
    text-decoration-color: #fcaf17;
    text-underline-offset: 13px;
    animation: underlineAnim 1s infinite alternate;
}




@keyframes underlineAnim {
    from {
        text-decoration-color: #fcaf17;
        text-underline-offset: 13px;
    }

    to {
        text-decoration-color: white;
        text-underline-offset: 0;
    }
}

#login-box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 605px;
    height: 270px;
    margin: 100px auto;
    border-bottom: 10px solid #fcaf17;
    border-radius: 23px;
    padding: 55px;
    cursor: pointer;
    background-color: #222222;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    animation: slideIn 1s ease;
}

@keyframes slideIn {
    from {
        opacity: 0;
        transform: translateY(-100%);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

#login-box h1 {
    align-items: center;
    justify-content: center;
    display: flex;
    border-bottom: 2px solid #fcaf17;
    border-radius: 22px;
    margin-bottom: 15px;
    padding-bottom: 8px;
}

#login-box input {
    margin: 12px;
    padding: 12px;
    border: none;
    border-bottom: 4px solid #fcaf17;
    border-radius: 9px;
    outline: none;
    background-color: #333333;
    color: white;
}

.right {
    margin: 11px;
    padding: 78px;
}

.right button {
    margin: 8px;
    padding: 12px;
    border-radius: 12px;
    width: 170px;
    cursor: pointer;
    background-color: #fcaf17;
    color: #222222;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    border: none;
    outline: none;
    transition: background-color 0.3s;
}

.right button:hover {
    background-color: #ffbe3d;
}

.right h2 {
    align-items: center;
    justify-content: center;
    display: flex;
    border-bottom: 2px solid rgb(62, 198, 13);
    border-radius: 22px;
    margin-top: -150px;
    padding-bottom: 8px;
}