* {
  margin: 0;
  padding: 0;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
  background-color: black;
  color: white;
}

.heading {
  text-align: center;
  margin-top: 130px;
  text-decoration: underline;
  text-decoration-color: #fcaf17;
  text-underline-offset: 13px;
  animation: underlineAnim 1s infinite alternate;
}

@keyframes underlineAnim {
  from {
      text-decoration-color: #fcaf17;
      text-underline-offset: 13px;
  }

  to {
      text-decoration-color: white;
      text-underline-offset: 0;
  }
}

#login-box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 605px;
  height: 270px;
  margin: 146px auto;
  border-bottom: 10px solid #fcaf17;
  border-radius: 23px;
  padding: 55px;
  background-color: #222222;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  animation: slideIn 1s ease;
}

@keyframes slideIn {
  from {
      opacity: 0;
      transform: translateY(-100%);
  }

  to {
      opacity: 1;
      transform: translateY(0);
  }
}

#login-box h1 {
  align-items: center;
  justify-content: center;
  display: flex;
  border-bottom: 2px solid #fcaf17;
  border-radius: 22px;
  margin-bottom: 15px;
  padding-bottom: 8px;
}

#login-box input {
  margin: 12px;
  padding: 12px;
  border: none;
  border-bottom: 4px solid #fcaf17;
  border-radius: 9px;
  outline: none;
  background-color: #333333;
  color: white;
}

.right {
  margin: 11px;
  padding: 78px;
}

.right button {
  margin: 8px;
  padding: 12px;
  border-radius: 12px;
  width: 170px;
  cursor: pointer;
  background-color: #fcaf17;
  color: #222222;
  font-weight: 100;
  border: none;
  outline: none;
  transition: background-color 0.3s;
}

.right button:hover {
  background-color: #ffbe3d;
}

.right h2 {
  align-items: center;
  justify-content: center;
  display: flex;
  border-bottom: 2px solid #fcaf17;
  border-radius: 22px;
  margin-top: -150px;
  padding-bottom: 8px;
}
